
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #E6F7FF; /
    color: #333;
    margin: 0;
    line-height: 1.6;
    transition: background-color 0.3s;
}

header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

header img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    font-size: 28px;
    margin-top: 10px;
    color: #333;
}

nav ul {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #F5F5F5; 
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


a[href^="https://github.com"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a[href^="https://github.com"]:hover {
    background-color: #007BFF;
}


@media (max-width: 768px) {
    header img {
        max-width: 150px;
    }

    h1, h2 {
        font-size: 24px;
    }
}


body:hover {
    background-color: #89923a;
}
